*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --color-granite: rgb(37 38 41);
  --color-nemo: rgb(255 74 17);
  --color-foam: rgb(255 255 255);
  --margin-zero: 0;
  --letter-spacing: 0.025em;
  --padding-medium: 16px;
  --border-radius-small: 4px;
}

body {
  margin: var(--margin-zero);
  font-family: system-ui;
  line-height: 1.2;
}

header {
  background: var(--color-granite);
}

h1 {
  text-align: center;
  color: var(--color-foam);
  line-height: 1.4;
  margin: var(--margin-zero);
  letter-spacing: var(--letter-spacing);
  text-transform: uppercase;
  padding-block: var(--padding-medium);
}

h2 {
  letter-spacing: var(--letter-spacing);
}

strong {
  color: var(--color-nemo);
}

section {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  padding: var(--padding-medium);
  width: min(1000px, 100%);
  margin: var(--margin-zero) auto;
}

article {
  flex: 1 200px;
}

img {
  max-width: 100%;
  display: block;
}

figure {
  width: min(100%, 400px);
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: var(--margin-zero);
  padding: 10px;
  background-color: var(--color-nemo);
  border-radius: var(--border-radius-small);
}

figcaption {
  color: var(--color-foam);
}

nav {
  display: flex;
  flex-wrap: wrap;
  gap: 8px var(--padding-medium);
}

a {
  display: inline-block;
  font-size: smaller;
  padding: 8px;
  border-radius: var(--border-radius-small);
  background-color: var(--color-nemo);
  color: var(--color-foam);
}

a:hover,
a:focus-visible {
  background-color: var(--color-granite);
  text-decoration: none;
}

mark {
  background-color: var(--color-nemo);
  color: var(--color-foam);
  border-radius: var(--border-radius-small);
  letter-spacing: var(--letter-spacing);
}

::selection {
  background-color: var(--color-granite);
  color: var(--color-nemo);
}
